/* Global selectors */
h2{
  font-weight: 300;
}
h4{
  font-weight: 300;
}
h5{
  font-weight: 300;
}
p{
  font-size: 22px;
  line-height: 34px;
}
/* Nav */
nav li a{
  font-size: 1.1rem;
}

nav .brand-logo{
  font-size: 1.7rem;
}

.sidenav li a{
  font-size: 1.3em;
  height: 65px;
  color: #fff;
  font-weight: 300;
}
.section-quote p{
  font-size: 20px;
}
/* About */
#about{
  color: #495057;
}
.section-about h4{
  margin-bottom: 2em;
}
#about img{
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
  -moz-box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
  box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
}
/* Media icons */
.media-icons li{
  display: inline-block;
  margin: 0 8px;
}
#gallery img.responsive-img{
  height: 150px;
  width: 400px;
  -webkit-box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
  -moz-box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
  box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
  border-radius: 3px;
}
#contact ul li{
  color: #495057;
}
/* Footer */
footer a{
  color: inherit;
}
@media(max-width: 992px) {
  #gallery img.responsive-img{
    height: auto;
    width: 100%;
  }
}
/* Mobile Devices */
@media(max-width: 600px) {
  nav .brand-logo {
    font-size: 1.2rem;
  }
  .slider h2{
    font-size:2.8rem;
  }
  #gallery img.responsive-img{
    height: auto;
    width: 100%;
  }
}