/* Global selectors */
h2{
  font-weight: 300;
}
h4{
  font-weight: 300;
}
h5{
  font-weight: 300;
}
p{
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
}
/* Nav */
nav li a{
  font-size: 1.1rem;
}
.sidenav li a{
  font-size: 1.2em;
  height: 65px;
  color: #fff;
  font-weight: 300;
}
.section-quote p{
  font-size: 20px;
}
/* About */
.section-about h4{
  margin-bottom: 2em;
}
.section-about p{
 padding: 15% 0;
}
/* Media icons */
.media-icons li{
  display: inline-block;
  margin: 0 8px;
}
/* Footer */
footer a{
  color: inherit;
}
/* Mobile Devices */
@media(max-width: 600px) {
  nav .brand-logo {
    font-size: 1.2rem;
  }
  .slider h2{
    font-size:2.8rem;
  }
}