/* Global selectors */
h2, h4, h5, h6{
  font-weight: 300;
}
p{
  font-size: 22px;
  line-height: 34px;
}
/* Text higlight style */
::selection {
  background: aquamarine;
  color: #2f2f2f;
}
/* Underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Nav */
nav li a{
  font-size: 1.1rem;
}
nav .brand-logo{
  font-size: 1.7rem;
}
.sidenav li a{
  font-size: 1.3em;
  height: 65px;
  color: #fff;
  font-weight: 300;
}
/* About */
#about{
  color: #495057;
}
#about h4{
  margin-bottom: 2em;
}
#about img{
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
  -moz-box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
  box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
}
/* Follow */
.media-icons li{
  display: inline-block;
  margin: 0 8px;
}
/* Gallery */
#gallery img.responsive-img{
  height: 150px;
  width: 400px;
  -webkit-box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
  -moz-box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
  box-shadow: 3px 2px 23px -4px rgba(0,0,0,0.73);
  border-radius: 3px;
}
/* Location */
#location{
  background-image: url('../img/location.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#location ul li{
  font-size: 1.5rem;
}
#location a{
  font-size: 1.3rem;
  color: #fff;
}
.times-font{
  font-family: Times,serif;
  font-weight: 300;
}
/* Footer */
footer a{
  color: inherit;
}
/* Tablet Devices */
@media(max-width: 992px) {
  #gallery img.responsive-img{
    height: auto;
    width: 100%;
  }
}
/* Mobile Devices */
@media(max-width: 600px) {
  nav .brand-logo {
    font-size: 1.1rem;
  }
  .slider h2{
    font-size:2.8rem;
  }
}